<div class="jumbotron">
  <h1 class="display-5">Aplicação Exemplo para a disciplina de Engenharia WEB</h1>
  <p class="lead">Tecnologias utilizadas.</p>
  <p>Angular 8</p>
  <p>NodeJS</p>
  <p>Restify</p>
  <p>Bootstrap</p>
  <p>Ionicicons</p>
  <p>MongoDB</p>
  <p>Mongoose</p>
  <hr class="my-4">
  <p>Prof. Desenvolvedor Marlus Dias Silva.</p>
  
  

  <div class="row">
    <div class="col">
        <span class="ion ion-md-bonfire"  style="zoom:2.0;"></span> 
    </div>
    <div class="col">
        <span class="ion ion-md-bug"  style="zoom:2.0;"> </span>
    </div>
    <div class="col">
        <span class="ion ion-md-american-football"  style="zoom:2.0;"> </span>
    </div>    
    <div class="col">
        <span class="ion ion-md-analytics"  style="zoom:2.0;"> </span>
    </div>    
    <div class="col">
        <span class="ion ion-md-alarm"  style="zoom:2.0;"> </span>
    </div>    
    <div class="col">
        <span class="ion ion-md-at"  style="zoom:2.0;"> </span>
    </div>    
    <div class="col">
        <span class="ion ion-md-baseball"  style="zoom:2.0;"> </span>
    </div>   
     <div class="col">
        <span class="ion ion-md-beer"  style="zoom:2.0;"> </span>
    </div>
    <div class="col">
        <span class="ion ion-md-boat"  style="zoom:2.0;"> </span>
    </div>
    <div class="col">
        <span class="ion ion-md-build"  style="zoom:2.0;"> </span>
    </div>
    <div class="col">
        <span class="ion ion-md-bulb"  style="zoom:2.0;"> </span>
    </div>
    <div class="col">
        <span class="ion ion-md-cafe"  style="zoom:2.0;"> </span>
    </div>
  </div>
  
</div>