<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Rodapé</h5>
        <p>Angular é uma plataforma e framework para construção da interface de aplicações usando HTML, CSS e, principalmente, JavaScript, criada pelos desenvolvedores da Google.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-5 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Desenvolvedor</h5>
        <p>Aplicação desenvolvida como exemplo para a disciplina de Engenharia Web, desenvolvido pelo Professor Marlus Dias Silva</p>


      </div>
     
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.ifgoiano.edu.br/home/"> ifgoiano</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->